.container-block {
    margin: 10px;
    background-color: #f2f2f2;
}

.owner-info {
    padding: 50px;
}

.block-text {
    font-family: "Comic Sans MS", serif;
    font-size: 20px;
}

.block-title {
    font-family: "Comic Sans MS", serif;
    font-size: 30px;
}