.owner-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    background-color: #f2f2f2;
}

.item {
    list-style: none;
    margin: 0;
    padding: 0;
}

.icon {
    font-size: 24px;
    color: #ff9900;
}

.icon:hover {
    transform: scale(1.4); /* increase size on hover */
    transition: transform 0.5s ease-in-out; /* add transition effect */
}

.card-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Comic Sans MS", serif;
    font-style: italic;
    font-size: 18px;
}