.container {
    margin-top: 80px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-item {
    padding-top: 10px;
}

.custom-button {
    background-color: #f00;
    color: #fff;
    font-weight: bold;
}